
    <header id="main-header">
        <div id="logo">
            <a href="/">BlogBurst</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/new-post">Create Post</a>
                </li>
                <li>
                    <a href="/add-author">Add Author</a>
                </li>
                <li>
                    <a href="/authors">All Authors</a>
                </li>
            </ul>
        </nav>
    </header>
