<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/head",{title:"Not Found "}) %>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>We could not find this resource! </h1>
        <p>Unfortunately, we were not able to find this resource.</p>
        <a href="/" class="btn">Back To Safety!</a>
    </main>
</body>
</html>