<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/head",{title:"Something Went Wrong "}) %>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>OOPS, Something Went Wrong </h1>
        <p>Unfortunately, Something Went Wrong on our end, We are working on it</p>
        <a href="/" class="btn">Back To Safety!</a>
    </main>
</body>
</html>