<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include("includes/head")%>
</head>
<body>
    <%- include("includes/header")%>
    <main id="all-posts">
        <h1>All Posts</h1>
        <% if(!posts || posts.length==0){ %>
            <div class="no-posts">
            <p>No Post Found! Maybe Start Creating Some?</p><br>
            <a href="/new-post" class="btn">Create a new post</a>
        </div>
<% } else {%>
    <ol id="posts-list">
        <% for(const post of posts){ %>
            <li>
                <%- include("includes/post-item",{post:post}) %>

            </li>
            <% } %>
    </ol>
    
    <% } %>
          
     
    </main> 
</body>
</html>